{% load static %}
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'img/liberator_logo.png' %}" class="logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li
            {% if 'home' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >  
            <a class="nav-link" href="{% url 'index' %}">Home</a>

          <li
            {% if 'about' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
            <a class="nav-link" href="{% url 'about' %}">About</a>

          <li
            {% if 'ai_description' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
            <a class="nav-link" href="{% url 'ai_description' %}">Investments</a>
            
          <li
            {% if 'results' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
            <a class="nav-link" href="{% url 'results' %}">Results</a>
          </li>
        </ul>

          <ul class="navbar-nav ml-auto">
          <li
            {% if 'register' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
        <a class="nav-link" href="{% url 'disclaimer' %}">Disclaimer</a>
          </li>
        </ul>

          <ul class="navbar-nav ml-auto">
          <li
            {% if 'disclaimer' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
  <ul class="navbar-nav ml-auto">

 {% if user.is_authenticated %}
        <a class='nav-link' href="{% url 'dashboard' %}"> Profile </a>

        <a class='nav-link' href="{% url 'logout' %}"> logout </a>
    {% else %}
         <a class="nav-link" href="{% url 'login' %}">
              Login</a>
         <a class="nav-link" href="{% url 'register' %}">
              Register</a>
              </ul>
    {% endif %}
           
          <li
            {% if 'login' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
